
*{
	background-color: #c7e8f9;
}

#createdpg{
	background-image: url("Images/emptypage.png");
	border: 1px solid;
	float: left;
	height: 500px;
	width: 780px;
	padding: 60px 10px 10px 10px;
}

#inpage, #cretedpg{
	float: left;
	display: inline;
	width: 35%;
}

div#buttons{
	position: relative;
	display: inline-block;
	padding: 10px;
	left: 15%;
}

#buttons button{
	height: 25px;
	width: 65px;
	margin-right: 50px;
	background-color: #f5f6f6;
}

div textarea{
	float: left;
	background-color: white;
	resize: none;
	
}

#createdtitle{
	position: relative;
	top: 45px;
	left: 110px;
	font-size: 12px;
	font-weight: normal;
	font-family: "Arial";
}

#correct{
	position: relative;
	left: 25%;
	color: green;
}

#heading, #headOut{
	text-align: center;
}

#headIn{
	position: relative;
	left: 30%;
}