
#createdpg{
	background-image: url("Images/emptypage.png");
	background-size: relative;
	border: 1px solid;
	float: left;
	height: 500px;
	width: 780px;
	padding: 60px 10px 10px 10px;
}

#inpage, #cretedpg{
	float: left;
	display: inline;
	width: 35%;
}

div#buttons{
	position: relative;
	display: inline-block;
	padding: 10px;
	left: 15%;
}

#buttons button{
	height: 25px;
	width: 65px;
	margin-right: 50px;
}

div textarea{
	float: left;
	
}

#createdtitle{
	position: relative;
	top: 45px;
	left: 110px;
	font-size: 12px;
	font-weight: normal;
	font-family: "Arial";
}

#correct{
	position: relative;
	left: 50px;
}

